<%- include('templates/header', {tituloWeb: 'Página || Inicio'}) %>

    <h1 class="text-primary">Título de mi sitio web Index con include()</h1>
    <h2><%= titulo %></h2>
    
<%- include('templates/footer') %>
